<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
  </head>
  <body>
    <form class="" action="/move_form" method="post">
      <input type="text" name="user1Move" placeholder="Player 1 Move">
      <input type="text" name="user2Move" placeholder="Player 2 Move">
      <button type="submit" name="button">Battle</button>
    </form>
  </body>
</html>
