@* <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <body>
    <div class="player1">
      <p>Player 1 Wins!</p>
    </div>
    <div class="player2">
      <p>Player 2 Wins!</p>
    </div>
  </body>
</html> *@
<p>@Model</p>
